.gitattributes
.gitignore
.github
.claude

docker-compose.yml
docker-compose.remote.yml
LICENSE
CLAUDE.md
README.md

test-results
e2e
docs

backend/.gitattributes
backend/.gitignore
backend/Dockerfile
backend/build
backend/.kotlin
backend/.gradle

frontend/.gitattributes
frontend/.gitignore
frontend/Dockerfile
frontend/.svelte-kit
frontend/.vscode
frontend/build
frontend/node_modules
